<mz-card
  [routerLink]="['/devices']" 
  [queryParams]="{ caseId: case.id, userId: case.userId }"
  (click)="updateCaseId(case.id)"
  [hoverable]="true">
  <mz-card-title>
    {{case.caseNumber}}
    <i mz-icon
      [align]="'left'"
      [icon]="'laptop'"
      [size]="'medium'">
    </i>
  </mz-card-title>

  <mz-card-content>
    <p>Suspect Name : {{case.suspectFirstName}}    </p>
    {{case.caseDescription}}

  </mz-card-content>
  <mz-card-action>
    <a [routerLink]="['/devices']" 
      [queryParams]="{ caseId: case.id, userId: case.userId }"
      (click)="updateCaseId(case.id)">View Detailed information</a>
  </mz-card-action>
</mz-card>