<mz-card
  (click)="updateCaseId(case.id);routeToDevice(case.id)"
  [hoverable]="true">
  <mz-card-title>
    {{case.caseNumber}}
    <i mz-icon
      [align]="'left'"
      [icon]="'work'"
      [size]="'medium'">
    </i>
  </mz-card-title>

  <mz-card-content>
    <ul><b>Suspect Name:</b> {{case.suspectFirstName}}</ul>
    <ul><b>Description:</b>{{case.caseDescription}}</ul>

  </mz-card-content>
  <mz-card-action>
    <!--a [routerLink]="['/devices']" 
      [queryParams]="{ caseId: case.id, userId: case.userId }"
      (click)="updateCaseId(case.id)">View Detailed information</a-->
      <a (click)="updateCaseId(case.id);routeToDevice(case.id)"> Device</a>
  </mz-card-action>
</mz-card>