<mz-card
  [routerLink] = "['/files']"
  [queryParams]="{ caseId: caseId, userId: userId, deviceId: deviceId, digitalMediaId: digitalMediaId, imageId: image.id }"
  (click)="updateImageId(image.id)"
  [hoverable]="true">
  <mz-card-title>
    {{image.primaryStorageMediaName}}
    <i mz-icon
      [align]="'left'"
      [icon]="'dvr'"
      [size]="'medium'">
    </i>
  </mz-card-title>

  <mz-card-content>
    <p>Media ID : {{image.primaryStorageMediaId}}</p>
    Size: {{image.size}} GB

  </mz-card-content>
  <mz-card-action>
    <a [routerLink]="['/files']"
       [queryParams]="{ caseId: caseId, userId: userId, deviceId: deviceId, digitalMediaId: digitalMediaId, imageId: image.id }"
       (click)="updateImageId(image.id)">View Detailed information</a>
  </mz-card-action>
</mz-card>