<mz-card
  (click)="updateImageId(image.id);routeToFiles(image.id)"
  [hoverable]="true">
  <mz-card-title>
    {{image.primaryStorageMediaName}}
    <i mz-icon
      [align]="'left'"
      [icon]="'dvr'"
      [size]="'medium'">
    </i>
  </mz-card-title>

  <mz-card-content>
    <b>Media ID:</b> {{image.primaryStorageMediaId}}
    <br>
    <b>Size:</b> {{image.size}} GB

  </mz-card-content>
  <mz-card-action>
    <a (click)="updateImageId(image.id);routeToFiles(image.id)">Files</a>
  </mz-card-action>
</mz-card>