<mz-card
  (click)="routeToDevice(case.id)"
  [hoverable]="true">
  
  <mz-card-title>
    {{case.caseNumber}}
    <i mz-icon
      [align]="'left'"
      [icon]="'work'"
      [size]="'small'">
    </i>
  </mz-card-title>

  <mz-card-content>
    <ul><b>Suspect Name:</b> {{case.suspectFirstName}} {{case.suspectLastName}}</ul>
    <ul><b>Description:</b> {{case.caseDescription}}</ul>
    <ul><b>Date Received:</b> {{case.dateReceived[0]}}</ul>
  </mz-card-content>

  <mz-card-action>
    <!-- Link to all devices -->
    <a (click)="routeToDevice(case.id)" style="text-decoration: none"> All Devices</a>
    
    <!-- More options button -->
    <a mz-button mz-tooltip id="btn-more-options-dropdown" class="tooltipped float" 
      [tooltip]="'More'"
      [position]="'bottom'" 
      [delay]="100"
      [flat]="true">
      <i class="small material-icons icon-black">more_vert</i>
    </a>

    <!-- Dropdown menu that appears after clicking on more options button -->
    <!-- Set constrainWidth to false so that the icon and text appear on same line -->
    <mz-dropdown
      [id]="'more-options'"
      [align]="'left'"
      [belowOrigin]="false"
      [constrainWidth]="false"
      [dropdownButtonId]="'btn-more-options-dropdown'"
      [hover]="false"
      [stopPropagation]="true">
      <mz-dropdown-item><a href="#!"><span style="font-size: 12px;">
        <i class="material-icons icon-size">mode_edit</i>
        Edit</span></a></mz-dropdown-item>
      <mz-dropdown-divider></mz-dropdown-divider>
      <mz-dropdown-item><a (click)=formModal.open()><div style="color: #F44336; font-size: 12px;">
        <i class="material-icons icon-size">delete</i>
        Delete</div></a></mz-dropdown-item>
    </mz-dropdown>
  </mz-card-action>
</mz-card>