  <div class="row" id="toolbar">
    <div class="valign-wrapper"> 
      <div class="col s1">
        <mz-sidenav #nav
          [id]="'sidenav'"
          [collapseButtonId]="'btn-sidenav'"
          [backgroundClass]="'true'"
          [edge]="'left'"
          [closeOnClick]="true"
          style="text-decoration: none">

          <div id="header">
            <mz-sidenav-header>
              <div class="background">
              </div>
              
              <div class="user-view" style="margin-left:10px">
                <div class="black-text name">{{name}}</div>
                <div class="black-text email">{{email}}</div>
              </div>
            </mz-sidenav-header>
          </div>

          <!-- Main sidenav links -->
          <div id="main">
            <mz-sidenav-link>
              <a class="waves-effect" [routerLink]="['cases']">
                <i class="material-icons">work</i>Cases
              </a>
            </mz-sidenav-link>
          </div>

          <li><div class="divider"></div></li>
          
          <!-- Footer sidenav links -->
          <div id="footer">
            <footer class="page-footer" style="background: rgba(0,0,0,0)">
                <mz-sidenav-link>
                  <a class="waves-effect">
                    <i class="material-icons">settings</i>Account Settings
                  </a>
                </mz-sidenav-link>
                
                <mz-sidenav-link>
                  <a class="waves-effect" (click)="onLogout()">
                    <i class="material-icons">forward</i>Log Out
                  </a>
                </mz-sidenav-link>
            </footer>
          </div>
        </mz-sidenav>

        <a class="btn-flat btn-large" id="btn-sidenav" style="z-index: 100"><i class="material-icons">menu</i></a>
      </div>
        <!-- Breadcrumbs -->
        <nav class="nav-wrapper" class="z-depth-0" id="blue">
          <a *ngIf="caseView" class="breadcrumb" (click)="breadCrumbCases()">Cases</a>
          <a *ngIf="deviceView" class="breadcrumb" (click)="breadCrumbDevices()">Devices</a>
          <a *ngIf="digitalMediaView" class="breadcrumb" (click)="breadCrumbDm()">Digital Media</a>
          <a *ngIf="imageView" class="breadcrumb" (click)="breadCrumbImage()">Images</a>
          <a *ngIf="fileView" class="breadcrumb">Files</a>
        </nav>

    </div>
  </div>