  <div class="row" id="toolbar">
    <div class="valign-wrapper"> 
      <div class="col s1">
        <mz-sidenav
          [id]="'sidenav'"
          [collapseButtonId]="'btn-sidenav'"
          [edge]="'left'">

          <div id="header">
            <mz-sidenav-header>
              <div class="user-view">
                <div class="white-text name">{{name}}</div>
                <div class="white-text email">{{name}}@email.com</div>
              </div>
            </mz-sidenav-header>
          </div>

          <div id="main">
            <mz-sidenav-link>
              <a>Cases</a>
            </mz-sidenav-link>

            <mz-sidenav-link [active]="true">
              <a>Account Info</a>
            </mz-sidenav-link>
          </div>
          
          <div id="footer">
            <footer class="page-footer">
              <div class="container">
                <div class="row">
                  <mz-sidenav-link [active]="true">
                    <a>Settings</a>
                  </mz-sidenav-link>
                </div>
                <div class="row">
                  <mz-sidenav-link [active]="true">
                    <a>Log Out</a>
                  </mz-sidenav-link>
                </div>
              </div>
            </footer>
          </div>
        </mz-sidenav>  
        <button mz-button id="btn-sidenav"><i class="medium material-icons">menu</i></button>
      </div>

        <nav class="z-length-0">
            <div>
              <!--<a *ngFor="let breadcrumb of breadcrumbs" class="breadcrumb">{{breadcrumb}}</a>-->
              <a *ngIf="caseView" class="breadcrumb" [routerLink]="['/cases']">Cases</a>
              <a *ngIf="deviceView" class="breadcrumb" [routerLink]="['/devices']" >Devices</a>
              <a *ngIf="digitalMediaView" class="breadcrumb" [routerLink]="['/digital-medias']">Digital Media</a>
              <a *ngIf="imageView" class="breadcrumb" [routerLink]="['/images']">Images</a>
              <a *ngIf="fileView" class="breadcrumb" [routerLink]="['/files']">Files</a>
            </div>

        </nav>

      <div class="col s1">
        <a  class="material-icons right"><i class="medium material-icons">view_comfy</i></a>
      </div>
    </div>
  </div>