#header {
    background: transparent;
}

#body {
}

#footer {
    position: absolute;
    bottom: 5.5%;
    width: 100%;
    height: fit-content;
}

#toolbar {
    padding: 0px;
    white-space: nowrap;
    overflow:hidden;
    background: #e57373;
}

a {
    background: transparent;
}

breadcrumb {
    background: transparent;
}

btn-sidenav {
    background: #e57373;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
