<div class="jumbotron">
      <h1>Forensic Dashboard</h1>
  </div>
<form>
  <div class="form-group">
    <mz-input-container class="col s12">
    <label for="email">Email address:</label>
    <input mz-input type="email" class="form-control" id="email">
      </mz-input-container>
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <mz-input-container class="col s12">
      <input mz-input type="password" class="form-control" id="pwd">
    </mz-input-container>
  </div>
    
    
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  
  <button type="primary" (click)="temp_login();" class="btn btn-primary">Submit</button>
</form>