 <nav>
    <div class="nav-wrapper" style="padding-left: 7%; background: #2196F3;">
      <p class="brand-logo"><i class="material-icons">cloud</i>Forensic Dashboard</p>
    </div>
</nav>


<div class="text-center" style="text-align:center"> 
  <div id="loginForm">
    <form>
      <div id="emailDiv" class="form-group">
        <mz-input-container class="col s12">
        
        <input mz-input 
          type="email" 
          class="form-control" 
          id="email"
          [dataError]="'Email is invalid'"
          [dataSuccess]="'Email is valid'"  
          [label]="'Email Address'">
          </mz-input-container>
      </div>
      <div id="pwdDiv" class="form-group">
        
        <mz-input-container class="col s12">
          <input mz-input type="password" 
            class="form-control" 
            id="pwd"
            [label]="'Password'">
        </mz-input-container>
      </div>
        
        
        
      <mz-checkbox-container>
        <input mz-checkbox
          [label]="'Remember Me'"
          id="checkbox-id"
          type="checkbox">
      </mz-checkbox-container>
      
      <button mz-button (click)="temp_login();">Login</button>
      <app-account></app-account>
    </form>
  </div>
</div>

<ng-template #createAcc>
    <app-account></app-account>
</ng-template>

<div id="footer">
  <footer class="page-footer" style="background: #2196F3;">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">The California Cyber Training Complex (CCTC) is a robust, 
            multi-agency effort to protect California through enhanced cybercrime forensics and state-wide 
            tactical response training. Our partners are the California National Guard and Cal Poly, San Luis Obispo.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="http://www.calpoly.edu/" target="_blank">Cal Poly</a></li>
            <li><a class="grey-text text-lighten-3" href="https://cctc.calpoly.edu/" target="_blank">CCTC</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="footer-copyright">
      <div class="container">
      © 2017 California Cyber Training Complex
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
</div>

<!-- <button mz-button (click)="postUser()">Post User</button>
<button mz-button (click)="postCase()">Post Case</button>
<button mz-button (click)="postDevice()">Post Device</button>
<button mz-button (click)="postDigitalMedia()">Post DigitalMedia</button>
<button mz-button (click)="postImage()">Post Image</button>
<button mz-button (click)="postFile()">Post File</button>

<button mz-button (click)="getUser()">Get User</button>
<button mz-button (click)="getCase()">Get Case</button>
<button mz-button (click)="getDevice()">Get Device</button>
<button mz-button (click)="getDigitalMedia()">Get DigitalMedia</button>
<button mz-button (click)="getImage()">Get Image</button>
<button mz-button (click)="getFile()">Get File</button>

<button mz-button (click)="NUKE()">NUKE</button> -->
