#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    flex: 1 0 auto;
    overflow: auto;
    overflow-x: hidden;
}

#loginForm {
    width: 40%;
    text-align: center;
    margin: 5% auto;
}