 <nav>
    <div class="nav-wrapper">
      <p class="brand-logo"><i class="material-icons">cloud</i>Forensic Dashboard</p>
    </div>
</nav>


<div class="col-md-3 text-center" style="text-align:center"> 
<form>
  <div class="form-group">
    <mz-input-container class="col s12">
    
    <input mz-input 
      type="email" 
      class="form-control" 
      id="email"
      [dataError]="'Email is invalid'"
      [dataSuccess]="'Email is valid'"  
      [label]="'Email Address'">
      </mz-input-container>
  </div>
  <div class="form-group">
    
    <mz-input-container class="col s12">
      <input mz-input type="password" 
        class="form-control" 
        id="pwd"
        [label]="'Password'">
    </mz-input-container>
  </div>
    
    
    
  <mz-checkbox-container>
    <input mz-checkbox
      [label]="'Remember Me'"
      id="checkbox-id"
      type="checkbox">
  </mz-checkbox-container>
  
  <button mz-button (click)="temp_login();">Login</button>
  <app-account></app-account>
</form>
</div>


<ng-template #createAcc>
    <app-account></app-account>
</ng-template>

<button mz-button (click)="postUser()">Post User</button>
<button mz-button (click)="postCase()">Post Case</button>
<button mz-button (click)="postDevice()">Post Device</button>
<button mz-button (click)="postDigitalMedia()">Post DigitalMedia</button>
<button mz-button (click)="postImage()">Post Image</button>

<button mz-button (click)="getUser()">Get User</button>
<button mz-button (click)="getCase()">Get Case</button>
<button mz-button (click)="getDevice()">Get Device</button>
<button mz-button (click)="getDigitalMedia()">Get DigitalMedia</button>
<button mz-button (click)="getImage()">Get Image</button>
<button mz-button (click)="NUKE()">NUKE</button>
