:host {
  background: #90EE90;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20%;
  min-width: 100px;
  z-index: 1;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

ul {
  font-size: 18px;
  line-height: 3;
  font-weight: 400;
  padding-top: 50px;
  list-style: none;
}

h2 {
     text-align: center;
}

mz-button {
    text-align:center;
}