ul {
  font-size: 18px;
  line-height: 3;
  font-weight: 400;
  padding-top: 50px;
  list-style: none;
}

h2 {
  text-align: center;
  color: #000000;
}

mz-button {
    text-align:center;
}

#search-input {
  width: 80%;
  margin-left: 20px;
  color: #888888
}
