<body>
   <h2>Account Settings</h2>
   <div class="row">
      <form class="col s12">
      <div class="row">
         <div class="input-field col s6">
            <input mz-input
               [label]="'First Name'"
               id="first_name" 
               type="text" 
               class="validate" 
               [(ngModel)]="user.firstName" 
               [ngModelOptions]="{standalone: true}">
         </div>
         <div class="input-field col s6">
            <input mz-input
               [label]="'Last Name'"
               id="last_name" 
               type="text" 
               class="validate" 
               [(ngModel)]="user.lastName" 
               [ngModelOptions]="{standalone: true}">
         </div>
      </div>
      <!--<div class="row">             Can't edit passwords right now because user class doesn't have a password field
         <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">Current Password</label>
         </div>
      </div>
      <div class="row">
         <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">New Password</label>
         </div>
      </div>
      <div class="row">
         <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">Confirm New Password</label>
         </div>
      </div> -->
      <div class="row">
         <div class="input-field col s12">
            <input mz-input mz-validation
               [label]="'Current Email'"
               id="email" 
               type="email" 
               class="validate" 
               [(ngModel)]="user.email" 
               [ngModelOptions]="{standalone: true}"
               data-error="Please include an '@' in the email address.">
         </div>
      </div>
      <div class="row">
         <div class="input-field col s12">
            <input mz-input mz-validation
               [label]="'New Email'"
               id="email" 
               type="email" 
               class="validate" 
               [(ngModel)]="newEmail" 
               [ngModelOptions]="{standalone: true}"
               data-error="Please include an '@' in the email address.">
         </div>
      </div>
      <div class="row">
         <div class="input-field col s12">
               <input mz-input mz-validation
                  [label]="'Confirm New Email'"
                  id="email" 
                  type="email" 
                  class="validate" 
                  [(ngModel)]="newEmail" 
                  [ngModelOptions]="{standalone: true}"
                  data-error="Please include an '@' in the email address.">
         </div>
      </div>
      </form>

      <a class="waves-effect waves-light btn" 
         id="orange" type="submit" name="action" (click)="putUser()">
         <i class="material-icons left">save</i>Save Settings</a>
   </div>
</body>


