<mz-card
  (click) = "updateDigitalMediaId(digitalMedia.id);routeToImages(digitalMedia.id)"
  [hoverable]="true">
  <mz-card-title>
    {{digitalMedia.make}}
    <i mz-icon
      [align]="'left'"
      [icon]="'sim_card'"
      [size]="'medium'">
    </i>
  </mz-card-title>

  <mz-card-content>
    <p><b>Model:</b> {{digitalMedia.model}}</p>
    <p><b>Serial Number:</b> {{digitalMedia.serialNumber}}</p>
  </mz-card-content>
  <mz-card-action>
    <a (click)="updateDigitalMediaId(digitalMedia.id);routeToImages(digitalMedia.id)">Images</a>
  </mz-card-action>
</mz-card>