<mz-card
  [routerLink] = "['/images']"
  [queryParams]="{ caseId: caseId, userId: userId, deviceId: deviceId, digitalMediaId: digitalMedia.id }"
  (click) = "updateDigitalMediaId(digitalMedia.id)"
  [hoverable]="true">
  <mz-card-title>
    {{digitalMedia.make}}
    <i mz-icon
      [align]="'left'"
      [icon]="'sim_card'"
      [size]="'medium'">
    </i>
  </mz-card-title>

  <mz-card-content>
    <p>Model: {{digitalMedia.model}}</p>
    Serial Number: {{digitalMedia.serialNumber}}
  </mz-card-content>
  <mz-card-action>
    <!--a [routerLink]="['/images']"
       [queryParams]="{ caseId: caseId, userId: userId, deviceId: deviceId, digitalMediaId: digitalMedia.id }"
       (click) = "updateDigitalMediaId(digitalMedia.id)">View Detailed information</a-->
    <a (click)="updateDigitalMediaId(digitalMedia.id);routeToImages(digitalMedia.id)">To images
      <!--router-outlet></router-outlet-->
    </a>
  </mz-card-action>
</mz-card>