<mz-card
  [routerLink] = "['/digital-medias']"
  [queryParams]="{ caseId: case.id, userId: case.userId, deviceId: device.id }"
  (click)="updateDeviceId(device.id)"
  [hoverable]="true">
  <mz-card-title>
    Make: {{device.make}}
    <i mz-icon
      [align]="'left'"
      [icon]="'laptop'"
      [size]="'medium'">
    </i>
  </mz-card-title>

  <mz-card-content>
    <p>Model : {{device.model}}    </p>
    {{device.serial}}

  </mz-card-content>
  <mz-card-action>
    <!--a [routerLink]="['/digital-medias']" 
      [queryParams]="{ caseId: case.id, userId: case.userId, deviceId: device.id }"
      (click)="updateDeviceId(device.id)">View Detailed information</a-->
      <a (click)="updateDeviceId(device.id);routeToDigitalMedia(device.id)">Digital Media
        <!--router-outlet></router-outlet-->
      </a>
  </mz-card-action>
</mz-card>