<mz-card
  [hoverable]="true">
  <mz-card-title>
    {{fileMD.fileName}}
    <i mz-icon
      [align]="'left'"
      [icon]="'insert_drive_file'"
      [size]="'medium'">
    </i>
  </mz-card-title>

  <mz-card-content>
    <ul><b>Description:</b> {{fileMD.contentDesc}}</ul>
    <ul><b>File Size (Bytes):</b> {{fileMD.size}}</ul>
    <ul><b>Suggested Review Platform:</b> {{fileMD.suggestedReviewPlatform}}</ul>
    <ul><b>Notes:</b> {{fileMD.notes}}</ul>
  </mz-card-content>
  <mz-card-action>
    <a (click)="download()">Download</a>
  </mz-card-action>
</mz-card>