.hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 96px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
  cursor: pointer;
  outline: none;
  background: none;
  border: 0;
}


.hamburger span {
  display: block;
  position: absolute;
  top: 44px;
  left: 18px;
  right: 20px;
  height: 8px;
  background: #1a2580;
}

.hamburger span::before,
.hamburger span::after {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #1a2580;
  content: "";
}

h1 {
     text-align: center;
}

p {
    text-align:center;
}

h {
    text-align:center;
}

button {
    background-color:#90EE90;
    color:white;
}