<div class="row">
  <div class="valign-wrapper">
    <ul id="case">
      <li *ngFor="let case of cases">
        <app-case
          (reloadCaseView)="loadCases()"
          [currentCase]="case"></app-case>
      </li>
    </ul>
  </div>
</div>

<div id="fab"> 
  <a class="btn-floating btn-large waves-effect waves-light red" 
  (click)="fixedFooterModal.open()"><i class="material-icons">add</i></a>
</div>

<mz-modal #fixedFooterModal [fixedFooter]="true">
  <mz-modal-header>
      <h3>Add Case</h3>
  </mz-modal-header>
  <mz-modal-content *ngFor="let field of form; let i = index">
    <mz-input-container class="col s6">
      <input mz-input mz-validation required
        [(ngModel)]= "fieldValue[i]"
        [label]="field.label"
        [validate]="'true'"
        [id]="field.id"
        [type]="field.type">              
    </mz-input-container>
  </mz-modal-content>
  <mz-modal-footer>
      <button mz-button [flat]="true" style="color: #F44336" mz-modal-close>Cancel</button>
      <button mz-button [flat]="true" style="color: #4CAF50" mz-modal-close 
        (click)="postCase()" type="submit">Add</button>
  </mz-modal-footer>
</mz-modal>