#fab {
    right: 1%;
    bottom: 9%;
    position: fixed;
}

/*
ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
*/

ul#case li {
    display: inline-block;
    margin: 10px;
}

.row {
    margin-left: 5px;
}

