<div class="row" id="top">  
    <div class="container" *ngIf="caseView">
    <mz-collapsible
        [mode]="'expandable'"
        [onClose]="closeFunctionCallback"
        [onOpen]="openFunctionCallback"
        [popout]="false">
        <mz-collapsible-item>
            <mz-collapsible-item-header>
                Case {{caseView.caseNumber}} : {{  caseView.suspectFirstName }} {{ caseView.suspectLastName}} 
            </mz-collapsible-item-header>
                <mz-collapsible-item-body>
                    <ul>
                        <li> <b>Case Number</b>  :     {{ caseView.caseNumber}}  </li>
                        <li> <b>Case Description</b>  :     {{ caseView.caseDescription}}  </li>                        
                        <li> <b>Suspect Name</b>  :     {{ caseView.suspectFirstName}} {{ caseView.suspectLastName}}  </li>
                        <li> <b>Examiner Name</b>  :     {{ caseView.examinerFirstName}} {{ caseView.examinerLastName}}  </li>
                        <li> <b>Date Received </b>  :     {{ caseView.dateReceived}}  </li>
                        <li> <b>Collection Location</b>  :     {{ caseView.collectionLocation}}  </li>
                        <li> <b>Lab ID</b>  :     {{ caseView.labId}}  </li>
                        <li> <b>User ID</b>  :     {{ caseView.userId}}  </li>
                    </ul>
            </mz-collapsible-item-body>
        </mz-collapsible-item>
    </mz-collapsible>
    </div>
</div>

<div class="row">  
    <div class="container" *ngIf="deviceView">
    <mz-collapsible
        [mode]="'expandable'"
        [onClose]="closeFunctionCallback"
        [onOpen]="openFunctionCallback"
        [popout]="false">
        <mz-collapsible-item>
            <mz-collapsible-item-header>
                Device Description : {{  deviceView.deviceDescription }} 
            </mz-collapsible-item-header>
            <mz-collapsible-item-body>
                <ul>
                    <li> <b>Make</b>  :  {{  deviceView.make }}  </li> 
                    <li> <b>Model</b>  :  {{  deviceView.model }}  </li> 
                    <li> <b>Device Description</b>  :  {{ deviceView.deviceDescription}}  </li>
                    <li> <b>Serial Number</b>  :  {{  deviceView.serialNumber }}  </li> 
                    <li> <b>Device Status</b>  :  {{  deviceView.deviceStatus }}  </li> 
                    <li> <b>Shutdown Method</b>  :  {{  deviceView.shutDownMethod }}  </li> 
                    <li> <b>System DateTime</b>  :  {{  deviceView.systemDateTime }}  </li> 
                    <li> <b>Local DataTime</b>  :  {{  deviceView.localDateTime }}  </li> 
                    <li> <b>Type of Collection</b>  :  {{  deviceView.typeOfCollection }}  </li> 
                    <li> <b>Media Status</b>  :  {{  deviceView.mediaStatus }}  </li> 
                </ul>
            </mz-collapsible-item-body>
        </mz-collapsible-item>
    </mz-collapsible>
    </div>
</div>

<div class="row">
    <div class="container" *ngIf="digitalMediaView">
        <mz-collapsible>
                <mz-collapsible-item *ngIf="digitalMediaView">
            <mz-collapsible-item-header>
                Digital Media : {{ digitalMediaView.make}} {{ digitalMediaView.model}} 
            </mz-collapsible-item-header>
            <mz-collapsible-item-body>
                <ul> 
                    <li> <b>Storage ID</b>  :      {{  digitalMediaView.storageId }}  </li>
                    <li> <b>Make</b>  :      {{  digitalMediaView.make }}  </li>
                    <li> <b>Model</b>  :      {{  digitalMediaView.model }}  </li>
                    <li> <b>Serial Number </b>  :      {{  digitalMediaView.serialNumber}}  </li>
                    <li> <b>Capacity</b>  :     {{ digitalMediaView.capacity}}  </li>
                    <li> <b>Device ID</b>  :     {{ digitalMediaView.deviceId}}  </li>
                </ul>
            </mz-collapsible-item-body>
        </mz-collapsible-item>
        </mz-collapsible>
    </div>
</div>

<div class="row">
    <div class="container" *ngIf="imageView">
        <mz-collapsible
        [mode]="'expandable'"
        [onClose]="closeFunctionCallback"
        [onOpen]="openFunctionCallback"
        [popout]="false">
            <mz-collapsible-item *ngIf="imageView">
            <mz-collapsible-item-header>
                Image : {{ imageView.primaryStorageMediaName}} 
            </mz-collapsible-item-header>
            <mz-collapsible-item-body>
                <ul>
                    <li> <b>User Id</b>  :      {{ imageView.userId}}  </li>
                    <li> <b>Media Id</b>  :      {{ imageView.mediaId}}  </li>
                    <li> <b>Write Block Method</b>  :      {{ imageView.writeBlockMethod}}  </li>
                    <li> <b>Imaging Tools</b>  :      {{ imageView.imagingTools}}  </li>
                    <li> <b>Format</b>  :     {{ imageView.format}}  </li>
                    <li> <b>Primary Storage Media Id</b>  :     {{ imageView.primaryStorageMediaId}}  </li>
                    <li> <b>Primary Storage Media Name</b>  :     {{ imageView.primaryStorageMediaName}}  </li>
                    <li> <b>Backup Storage Media Id</b>  :     {{ imageView.backupStorageMediaId}}  </li>
                    <li> <b>Backup Storage Media Name</b>  :     {{ imageView.backupStorageMediaName}}  </li>
                    <li> <b>Post Collection</b>  :     {{ imageView.postCollection}}  </li>
                    <li> <b>Size</b>  :     {{ imageView.size}}  </li>
                    <li> <b>Notes</b>  :     {{ imageView.notes}}  </li>
                </ul>
            </mz-collapsible-item-body>
        </mz-collapsible-item>
    </mz-collapsible>
    </div>
</div>