<mz-card
  (click) = "routeToImages(digitalMedia.id)"
  [hoverable]="true">
  <mz-card-title>
    {{digitalMedia.make}}
    <i mz-icon
      [align]="'left'"
      [icon]="'sim_card'"
      [size]="'medium'">
    </i>
  </mz-card-title>

  <mz-card-content>
    <p><b>Model:</b> {{digitalMedia.model}}</p>
    <p><b>Serial Number:</b> {{digitalMedia.serialNumber}}</p>
  </mz-card-content>
  <mz-card-action>
    <a (click)="routeToImages(digitalMedia.id)">All Images</a>

    <!-- More options button -->
    <a class="btn-floating btn-flat tooltipped" 
      data-position="bottom" 
      data-delay="25" 
      data-tooltip="More">
      <i class="small material-icons icon-black">more_vert</i></a>
  </mz-card-action>
</mz-card>