<!-- Toolbar  -->
<app-toolbar></app-toolbar>
<!-- Collapsible  -->
<div class="row">  
    <div class="container">
    <mz-collapsible
        [mode]="'expandable'"
        [onClose]="closeFunctionCallback"
        [onOpen]="openFunctionCallback"
        [popout]="true">
        <mz-collapsible-item *ngFor="let contentLayer of contentLayers">
            <mz-collapsible-item-header>
            {{contentLayer}}
            </mz-collapsible-item-header>
            <mz-collapsible-item-body>
                contentLayer
            </mz-collapsible-item-body>
        </mz-collapsible-item>
    </mz-collapsible>
    </div>
</div>

<!-- Collection of objects  -->
<!-- Should be router outlet to objects like cases, devices, etc  -->
<router-outlet></router-outlet>