<router-outlet></router-outlet> 
<div *ngIf="isHomePage;else other_content">
  <h1>
    {{title}}
  </h1>

  <div class="col-md-8 text-center"> 
    <mz-card
    [hoverable]="true">
    <mz-card-title>
      Current Case
      <i mz-icon
        [align]="'left'"
        [icon]="'laptop'"
        [size]="'medium'">
      </i>
   </mz-card-title>

   <mz-card-content>
      Case info here
    </mz-card-content>
    <mz-card-action>
      <a href="#">View Detailed information</a>
    </mz-card-action>
  </mz-card>
  </div>
  <div class="col-md-8 text-center"> 
    <button mz-button (click)=viewCase()>View Case</button>
    <button mz-button> Add case</button>
    <button mz-button (click)=logOut()> Log out</button>
  </div>

  <ng-template #other_content>
    <app-case></app-case>
  </ng-template>
</div>
