/* You can add global styles to this file, and also import other style files */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;
}

main {
    flex: 1 0 auto;
    overflow: auto;
    overflow-x: hidden;
}

#fab {
    right: 30px;
    bottom: 30px;
    position: fixed;
    z-index: 100;
}

i.icon-black {
    color: black;
}

#theme {
    background: #2196F3;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    flex: 1 0 auto;
    overflow: auto;
    overflow-x: hidden;
    background-color: #2196F3;
}