<div class="row">
  <div class="valign-wrapper">
    <ul id="image">
      <li *ngFor="let image of images">
        <app-image 
          [image] = "image"
          [caseId]="caseId"
          [userId]="userId"
          [deviceId]="deviceId"
          [digitalMediaId]= "digitalMediaId">    </app-image>
      </li>
    </ul>
  </div>
</div>

<div id="fab"> 
  <a class="btn-floating btn-large waves-effect waves-light" id="green" (click)="fixedFooterModal.open()"><i class="material-icons">add</i></a>
</div>

<mz-modal #fixedFooterModal [fixedFooter]="true">
    <mz-modal-header>
        <h3>Add Image</h3>
    </mz-modal-header>
    <mz-modal-content>
      <mz-input-container class="col s6">
        <input mz-input
          [(ngModel)]="newImage.primaryStorageMediaName"
          [label]="'Primary Storage Media Name'"
          id="input-primaryMediaName"
          type="text">              
      </mz-input-container>   
      <mz-input-container class="col s6">
        <input mz-input
          [(ngModel)]="newImage.primaryStorageMediaId"
          [label]="'Primary Storage Media ID'"
          id="input-primaryMediaId"
          type="number">              
      </mz-input-container>
      <mz-input-container class="col s6">
        <input mz-input
          [(ngModel)]="newImage.backupStorageMediaName"
          [label]="'Backup Storage Media Name'"
          id="input-backupMediaName"
          type="text">              
      </mz-input-container>   
      <mz-input-container class="col s6">
        <input mz-input
          [(ngModel)]="newImage.backupStorageMediaId"
          [label]="'Backup Storage Media ID'"
          id="input-backupMediaId"
          type="number">              
      </mz-input-container>
      <mz-input-container class="col s6">
        <input mz-input
          [(ngModel)]="newImage.writeBlockMethod"
          [label]="'Write Block Method'"
          id="input-writeBlockMethod"
          type="text">              
      </mz-input-container>
      <mz-input-container class="col s6">
        <input mz-input
          [(ngModel)]="newImage.imagingTools"
          [label]="'Imaging Tool'"
          id="input-imagingTools"
          type="text">              
      </mz-input-container>
      <mz-input-container class="col s6">
        <input mz-input
          [(ngModel)]="newImage.format"
          [label]="'Format'"
          id="input-format"
          type="text">              
      </mz-input-container>
      <mz-input-container class="col s6">
        <input mz-input
          [(ngModel)]="newImage.size"
          [label]="'Size'"
          id="input-size"
          type="number">              
      </mz-input-container>
      <mz-input-container class="col s6">
        <input mz-input
          [(ngModel)]="newImage.postCollection"
          [label]="'Post Collection'"
          id="input-postCollection"
          type="text">              
      </mz-input-container>
      <mz-input-container class="col s6">
        <input mz-input
          [(ngModel)]="newImage.notes"
          [label]="'Additional Notes'"
          id="input-notes"
          type="text">            
      </mz-input-container>
    </mz-modal-content>
    <mz-modal-footer>
        <button mz-button [flat]="true" mz-modal-close>Cancel</button>
        <button mz-button [flat]="true" mz-modal-close (click)="postImage()">Add</button>
    </mz-modal-footer>
</mz-modal>
