

      <button mz-button (click)="fixedAccModal.open()">Create Account</button>

      <mz-modal #fixedAccModal [fixedFooter]="true">
        <mz-modal-header>
          Create Your Account
        </mz-modal-header>
        <mz-modal-content>
          <mz-input-container class="col s6">
            <input mz-input
              [label]="'First Name'"
              id="input-firstname"
              type="text">              
          </mz-input-container>
          <mz-input-container class="col s6">
            <input mz-input
              [label]="'Last Name'"
              id="input-lastname"
              type="text">              
          </mz-input-container>
          <mz-input-container class="col s12">
            <input mz-input
              [label]="'Email (and your login)'"
              id="input-caseNumber"
              type="number">
          </mz-input-container>
          <div class="col s12">
            <mz-input-container class="col s12">
              <input mz-input
                [label]="'Password'"
                id="input-desc"
                type="text">              
            </mz-input-container>
          </div>
        </mz-modal-content>
        <mz-modal-footer>
          <button mz-button [flat]="true" mz-modal-close>Create Account</button>
          <button mz-button [flat]="true" mz-modal-close>Cancel</button>
        </mz-modal-footer>
      </mz-modal>

