<div class="row">
  <div class="valign-wrapper">
    <div class="col s1" *ngIf="caseSelected">
      <i mz-icon-mdi
        [icon]="'arrow-left'"
        [size]="'36px'">
      </i>
    </div>
    <div class="col s8">
      <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            <a *ngFor="let contentLayer of contentLayers" href="{{contentLayer}}" class="breadcrumb">{{contentLayer}}</a>
          </div>
        </div>
      </nav>
    </div>
    <div class="col s3">
      <button mz-button (click)="fixedFooterModal.open()">Add Device</button>

      <mz-modal #fixedFooterModal [fixedFooter]="true">
        <mz-modal-header>
          Device Information
        </mz-modal-header>
        <mz-modal-content>
        </mz-modal-content>
        <mz-modal-footer>
          <button mz-button [flat]="true" mz-modal-close (click)="addDevice()">Add</button>
          <button mz-button [flat]="true" mz-modal-close>Cancel</button>
        </mz-modal-footer>
      </mz-modal>
    </div>
  </div>
</div>