<div class="row">
  <div class="valign-wrapper">
    <ul id="device">
      <li *ngFor="let device of devices">
        <app-device 
          [device]="device"
          [case]="case"></app-device>
      </li>
    </ul>
  </div>
</div>

<div id="fab"> 
  <a class="btn-floating btn-large waves-effect waves-light" id="orange" (click)="fixedFooterModal.open()"><i class="material-icons">add</i></a>
</div>

<mz-modal #fixedFooterModal [fixedFooter]="true">
    <mz-modal-header>
        <h3>Add Device</h3>
    </mz-modal-header>
    <mz-modal-content>
      <mz-input-container class="col s6">
        <input mz-input mz-validation required
          [(ngModel)]="newDevice.deviceDescription"
          [label]="'Device description'"
          [validate]="'true'"
          id="input-deviceDesc"
          type="text">              
        </mz-input-container>
      <span class="row col s6">
        <mz-input-container class="col s6">
          <input mz-input mz-validation required
            [(ngModel)]="newDevice.make" 
            [validate]="'true'"
            [label]="'Make'"
            id="input-make"
            type="text">              
        </mz-input-container>
        <mz-input-container class="col s6">
          <input mz-input mz-validation required
            [(ngModel)]="newDevice.model"
            [label]="'Model'"
            [validate]="'true'"
            id="input-model"
            placeholder=""
            type="text">
        </mz-input-container>
      </span>
      <mz-input-container class="col s12">
        <input mz-input mz-validation required
          [(ngModel)]="newDevice.serialNumber"
          [label]="'Serial Number'"
          [validate]="'true'"
          id="input-serialNumber"
          type="number">
      </mz-input-container>
      <mz-select-container>
        <select mz-select 
          [(ngModel)]="newDevice.deviceStatus"
          [label]="'Device Status'"
          id="input-deviceStatus">
          <option>On</option>
          <option>Off</option>
          <option>Hibernation</option>
          <option>Unknown</option>
        </select>
      </mz-select-container>
      <mz-select-container>
        <select mz-select 
          [(ngModel)]="newDevice.shutDownMethod"
          [label]="'Shutdown Method'"
          id="input-shutdownMethod">
          <option>Soft</option>
          <option>Hard</option>
          <option>Left Running</option>
          <option>Unknown</option>
        </select>
      </mz-select-container> 
      <div class="col s12">
        System Date and Time
        <div class="input-field inline">
          <mz-input-container class="col s12">              
            <input [(ngModel)]="newDevice.systemDateTime" id="systemDate" type="datetime-local">
          </mz-input-container>
        </div>
      </div> 
      <div class="col s12">
        Local Date and Time
        <div class="input-field inline">
          <mz-input-container class="col s12">              
            <input [(ngModel)]="newDevice.localDateTime" id="localDate" type="datetime-local">
          </mz-input-container>
        </div>
      </div> 
      <mz-select-container>
        <select mz-select 
          [(ngModel)]="newDevice.typeOfCollection"
          [label]="'Type of Collection'"
          id="input-collcetionType">
          <option>Computer</option>
          <option>Storage Device</option>
          <option>Mobile Device</option>
          <option>Targeted</option>
          <option>Network Storage</option>
          <option>Remote Location</option>
          <option>Cloud/Email</option>
        </select>
      </mz-select-container>
      <mz-select-container>
        <select mz-select
          [(ngModel)]="newDevice.mediaStatus"
          [label]="'Media Status'"
          id="input-mediaStatus">
          <option>Removed from system</option>
          <option>Physical device only (not connected to a system)</option>
          <option>Not visible (network/remote)</option>
          <option>Remained in system or enclosure during acquisition</option>
          <option>Live system acquisition</option>
          <option>Encrypted</option>  
        </select>        
      </mz-select-container>        
    </mz-modal-content>
    <mz-modal-footer>
        <button mz-button [flat]="true" style="color: #F44336" mz-modal-close>Cancel</button>
        <button mz-button [flat]="true" style="color: #4CAF50" mz-modal-close (click)="postDevice()">Add</button>
    </mz-modal-footer>
</mz-modal>
